<h1 align="center"> Update Comment </h1>
{{ form_start(form) }}
<table align="center">
    <td>{{ form_widget (form.champCommentaire) }}</td></br>
    <td><input type="submit" value="Update"/></td></br>
</table>
{{ form_end(form) }}
